# Git
.gitattributes

# Environment
**/.idea/
**/.iws/
**/.iml/
**/.ipr/
**/.venv/
**/.gradle/
**/.intellijPlatform/
**/.mvn/
mvnw
mvnw.cmd
**/__pycache__/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/

# Generated Assets
**/dist/
**/*.egg-info/
**/build/
.coverage
jetbrains/src
jetbrains/gradle.properties
vscode/*
!vscode/.vscode/
!vscode/.vscodeignore
*.vsix
claude-code/
qwen-code/
kimi-code/
pi/
windows-terminal/
opencode/
/npm/*
!/npm/bin/
!/npm/bin/celadon-theme.js

# Sample Projects
/sample-projects
**/.next/
**/node_modules/

# AI
AGENTS.md
CLAUDE.md
.qwen
.reasonix

# Sensitive
/secrets
*.crt
*.txt
*.pem
