{
    "name": "{{ manifest.name }}",
    "dark": true,
    "author": "{{ manifest.author }}",
    "editorScheme": "/themes/Celadon.xml",
    "colors": {
        "transparent": "#{{ theme.transparent }}",
        "translucent": "#{{ theme.translucent }}",
        "base0": "#{{ theme.base0 }}",
        "base1": "#{{ theme.base1 }}",
        "base2": "#{{ theme.base2 }}",
        "base3": "#{{ theme.base3 }}",
        "base4": "#{{ theme.base4 }}",
        "accent": "#{{ theme.accent }}",
        "accent_alt": "#{{ theme.accent_alt }}",
        "accent_alt2": "#{{ theme.accent_alt2 }}",
        "lime": "#{{ theme.lime }}",
        "lime_alt": "#{{ theme.lime_alt }}",
        "lime_alt2": "#{{ theme.lime_alt2 }}",
        "green": "#{{ theme.green }}",
        "green_alt": "#{{ theme.green_alt }}",
        "green_alt2": "#{{ theme.green_alt2 }}",
        "blue": "#{{ theme.blue }}",
        "blue_alt": "#{{ theme.blue_alt }}",
        "blue_alt2": "#{{ theme.blue_alt2 }}",
        "cyan": "#{{ theme.cyan }}",
        "cyan_alt": "#{{ theme.cyan_alt }}",
        "cyan_alt2": "#{{ theme.cyan_alt2 }}",
        "purple": "#{{ theme.purple }}",
        "purple_alt": "#{{ theme.purple_alt }}",
        "purple_alt2": "#{{ theme.purple_alt2 }}",
        "pink": "#{{ theme.pink }}",
        "pink_alt": "#{{ theme.pink_alt }}",
        "pink_alt2": "#{{ theme.pink_alt2 }}",
        "red": "#{{ theme.red }}",
        "red_alt": "#{{ theme.red_alt }}",
        "red_alt2": "#{{ theme.red_alt2 }}",
        "orange": "#{{ theme.orange }}",
        "orange_alt": "#{{ theme.orange_alt }}",
        "orange_alt2": "#{{ theme.orange_alt2 }}",
        "yellow": "#{{ theme.yellow }}",
        "yellow_alt": "#{{ theme.yellow_alt }}",
        "yellow_alt2": "#{{ theme.yellow_alt2 }}",
        "cream": "#{{ theme.cream }}",
        "cream_alt": "#{{ theme.cream_alt }}",
        "cream_alt2": "#{{ theme.cream_alt2 }}",
        "bone": "#{{ theme.bone }}",
        "bone_alt": "#{{ theme.bone_alt }}",
        "bone_alt2": "#{{ theme.bone_alt2 }}"
    },
    "ui": {
        "*": {
            "windowBorder": "base1",
            "borderColor": "base2",
            "background": "base0",
            "foreground": "base4",
            "inactiveBackground": "base0",
            "inactiveForeground": "base3",
            "selectionBackground": "accent_alt2",
            "selectionForeground": "base4",
            "selectionInactiveBackground": "base1",
            "selectionInactiveForeground": "base3",
            "acceleratorSelectionBackground": "accent_alt2",
            "acceleratorSelectionForeground": "base4",
            "focusColor": "accent_alt",
            "focusedBorderColor": "accent_alt"
        },

        "ActionButton.hoverBackground": "base2",
        "ActionButton.hoverBorderColor": "base2",
        "ActionButton.pressedBackground": "base1",
        "ActionButton.pressedBorderColor": "base1",
        "ActionButton.separatorColor": "base2",

        "Borders.color": "base2",
        "Borders.ContrastBorderColor": "base2",

        "Button.arc": 8,
        "Button.background": "base0",
        "Button.foreground": "accent",
        "Button.startBackground": "base1",
        "Button.endBackground": "base1",
        "Button.startBorderColor": "base1",
        "Button.endBorderColor": "base1",
        "Button.shadowColor": "base0",
        "Button.disabledBorderColor": "base1",
        "Button.disabledText": "base3",
        "Button.focusedBorderColor": "accent_alt",

        "Button.default.foreground": "accent",
        "Button.default.startBackground": "base1",
        "Button.default.endBackground": "base1",
        "Button.default.startBorderColor": "accent",
        "Button.default.endBorderColor": "accent",
        "Button.default.focusedBorderColor": "accent_alt",
        "Button.default.shadowColor": "base0",

        "CheckBox.background": "base0",
        "CheckBox.disabledText": "base3",
        "CheckBox.foreground": "base4",
        "CheckBox.select": "accent",

        "CodeWithMe.Users.1.Foreground": "base0",
        "CodeWithMe.Users.1.Background": "lime_alt2",
        "CodeWithMe.Users.2.Foreground": "base0",
        "CodeWithMe.Users.2.Background": "blue_alt2",
        "CodeWithMe.Users.3.Foreground": "base0",
        "CodeWithMe.Users.3.Background": "pink_alt2",
        "CodeWithMe.Users.4.Foreground": "base0",
        "CodeWithMe.Users.4.Background": "purple_alt2",
        "CodeWithMe.Users.5.Foreground": "base0",
        "CodeWithMe.Users.5.Background": "orange_alt2",
        "CodeWithMe.Users.6.Foreground": "base0",
        "CodeWithMe.Users.6.Background": "green_alt2",

        "ComboBox.background": "base1",
        "ComboBox.disabledForeground": "base3",
        "ComboBox.foreground": "base4",
        "ComboBox.ArrowButton.background": "base1",
        "ComboBox.ArrowButton.iconColor": "accent",
        "ComboPopup.border": "1,1,1,1,{{ theme.base2 }}",

        "Component.infoForeground": "base3",
        "Component.borderColor": "base2",
        "Component.focusColor": "accent_alt",
        "Component.focusedBorderColor": "accent_alt",
        "Component.errorFocusColor": "red_alt",
        "Component.inactiveErrorFocusColor": "red_alt2",
        "Component.warningFocusColor": "orange_alt",
        "Component.inactiveWarningFocusColor": "orange_alt2",

        "Console.background": "base1",
        "Console.foreground": "base4",
        "Console.selectionBackground": "accent_alt2",
        "Console.selectionForeground": "base4",

        "DefaultTabs.borderColor": "base2",
        "DefaultTabs.hoverBackground": "base2",
        "DefaultTabs.underlineColor": "accent",
        "DefaultTabs.inactiveUnderlineColor": "accent_alt",
        "DefaultTabs.underlinedTabForeground": "base4",
        "DefaultTabs.underlinedTabBackground": "base1",

        "Editor.background": "base0",
        "Editor.foreground": "base4",
        "Editor.shortcutForeground": "accent",
        "EditorPane.background": "base1",
        "EditorPane.caretForeground": "accent",

        "EditorTabs.borderColor": "base2",
        "EditorTabs.underlineColor": "accent",
        "EditorTabs.inactiveUnderlineColor": "accent_alt",
        "EditorTabs.underlinedTabBackground": "base2",

        "FileColor.Blue": "blue_alt2",
        "FileColor.Green": "green_alt2",
        "FileColor.Orange": "orange_alt2",
        "FileColor.Rose": "pink_alt2",
        "FileColor.Violet": "purple_alt2",

        "Label.foreground": "base4",
        "Label.disabledForeground": "base3",
        "Label.infoForeground": "blue",
        "Label.errorForeground": "red",

        "List.hoverBackground": "base2",
        "List.Tag.background": "blue_alt2",

        "Link.activeForeground": "accent",
        "Link.secondaryForeground": "accent_alt",

        "MainToolbar.background": "base0",
        "MainToolbar.separatorColor": "base4",

        "MainWindow.Tab.selectedBackground": "base1",
        "MainWindow.Tab.selectedForeground": "accent",

        "Notification.borderColor": "base2",
        "Notification.errorBackground": "red_alt2",
        "Notification.ToolWindow.errorBackground": "red_alt2",
        "Notification.ToolWindow.informativeBackground": "blue_alt2",
        "Notification.ToolWindow.warningBackground": "orange_alt2",

        "Plugins.Button.installBackground": "green",
        "Plugins.Button.updateBackground": "accent",
        "Plugins.tagBackground": "blue_alt",
        "Plugins.eapTagBackground": "orange_alt",

        "ProgressBar.trackColor": "base0",
        "ProgressBar.progressColor": "accent",
        "ProgressBar.indeterminateEndColor": "accent_alt2",
        "ProgressBar.failedEndColor": "red_alt2",
        "ProgressBar.passedEndColor": "green_alt2",

        "RunToolbar.Debug.activeBackground": "red_alt2",
        "RunToolbar.Run.activeBackground": "green_alt2",
        "RunWidget.stopBackground": "red",
        "RunWidget.runningBackground": "green",

        "ScrollBar.trackColor": "base0",
        "ScrollBar.thumbColor": "base2",
        "ScrollBar.hoverTrackColor": "base1",

        "SearchEverywhere.SearchField.background": "base1",
        "SearchEverywhere.Tab.selectedBackground": "base1",
        "SearchMatch.startBackground": "accent",
        "SearchMatch.endBackground": "accent",

        "TabbedPane.focusColor": "accent_alt",
        "TabbedPane.underlineColor": "accent",

        "Table.gridColor": "base2",
        "Table.lightSelectionBackground": "accent_alt2",

        "Terminal.background": "base1",
        "Terminal.foreground": "base4",
        "Terminal.cursorColor": "accent",
        "Terminal.selectionBackground": "accent_alt2",

        "TextField.background": "base1",
        "TextField.caretForeground": "accent",
        "TextField.foreground": "base4",

        "ToggleButton.onBackground": "accent",
        "ToggleButton.offBackground": "base0",

        "ToolWindow.background": "base0",
        "ToolWindow.Header.borderColor": "base2",
        "ToolWindow.HeaderTab.underlineColor": "accent",
        "ToolWindow.HeaderTab.underlinedTabBackground": "base1",

        "ToolTip.background": "base0",
        "ToolTip.borderColor": "base2",

        "Tree.selectionBackground": "accent_alt2",
        "Tree.selectionForeground": "base4",
        "Tree.hoverBackground": "base2",

        "ValidationTooltip.errorBackground": "red_alt2",
        "ValidationTooltip.warningBackground": "orange_alt2",

        "VersionControl.GitLog.localBranchIconColor": "green",
        "VersionControl.GitLog.remoteBranchIconColor": "purple",
        "VersionControl.RefLabel.backgroundBase": "base1",
        "VersionControl.RefLabel.foreground": "base4",

        "Window.border": "1,1,1,1,{{ theme.base2 }}"
    },
    "icons": {
        "ColorPalette": {
            "Actions.Grey": "#{{ theme.base3 }}",
            "Actions.Red": "#{{ theme.red }}",
            "Actions.Yellow": "#{{ theme.yellow }}",
            "Actions.Green": "#{{ theme.green }}",
            "Actions.Blue": "#{{ theme.blue }}",
            "Objects.Grey": "#{{ theme.base3 }}",
            "Objects.Red": "#{{ theme.red }}",
            "Objects.Yellow": "#{{ theme.yellow }}",
            "Objects.Green": "#{{ theme.green }}",
            "Objects.Blue": "#{{ theme.blue }}",
            "Objects.Purple": "#{{ theme.purple }}",
            "Objects.BlackText": "#{{ theme.base4 }}",
            "Checkbox.Background.Default.Dark": "#{{ theme.base1 }}",
            "Checkbox.Foreground.Selected.Dark": "#{{ theme.accent }}",
            "linkForeground": "#{{ theme.accent }}"
        }
    }
}