{
  "name": {{ config.name | tojson }},
  "type": "custom",
  "Background": "#{{ theme.base0 }}",
  "Foreground": "#{{ theme.base4 }}",
  "LightBlue": "#{{ theme.blue }}",
  "AccentBlue": "#{{ theme.purple }}",
  "AccentPurple": "#{{ theme.accent }}",
  "AccentCyan": "#{{ theme.cyan }}",
  "AccentGreen": "#{{ theme.lime_alt }}",
  "AccentYellow": "#{{ theme.yellow_alt }}",
  "AccentRed": "#{{ theme.pink }}",
  "Comment": "#{{ theme.base3 }}",
  "Gray": "#{{ theme.bone }}",
  "DiffAdded": "#{{ theme.lime_alt2 }}",
  "DiffRemoved": "#{{ theme.red_alt2 }}",
  "DiffModified": "#{{ theme.green_alt2 }}",
  "GradientColors": [
    "#{{ theme.blue }}",
    "#{{ theme.purple }}",
    "#{{ theme.pink }}"
  ]
}
