{
  "name": {{ config.name | tojson }},
  "background": "#{{ theme.base0 }}",
  "foreground": "#{{ theme.base4 }}",
  "cursorColor": "#{{ theme.accent }}",
  "selectionBackground": "#{{ theme.accent_alt2 }}",
  "black": "#{{ theme.base0 }}",
  "brightBlack": "#{{ theme.base2 }}",
  "red": "#{{ theme.red }}",
  "brightRed": "#{{ theme.red_alt }}",
  "green": "#{{ theme.lime_alt }}",
  "brightGreen": "#{{ theme.lime }}",
  "yellow": "#{{ theme.yellow }}",
  "brightYellow": "#{{ theme.yellow_alt }}",
  "blue": "#{{ theme.blue }}",
  "brightBlue": "#{{ theme.blue_alt }}",
  "purple": "#{{ theme.purple_alt }}",
  "brightPurple": "#{{ theme.pink }}",
  "cyan": "#{{ theme.cyan }}",
  "brightCyan": "#{{ theme.cyan_alt }}",
  "white": "#{{ theme.bone }}",
  "brightWhite": "#{{ theme.cream }}"
}
